.hero-section {
  background-color: white;
  color: #333;
  font-family: 'Poppins', sans-serif;
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: space-between;
  justify-content: center;
}
.hero-section h1 {
  font-size: 25px;
  font-weight: 600;
  color: #d35400;

}

.hero-section p {
  font-size: 18px;
  color: #f9883e;
  margin-top: 10px;
}

.hero-image img {
  width: 50%;
  max-width: 600px;

  height: auto;
  border-radius: 16px;
  box-shadow: 0 10px 24px rgba(0, 0, 0, 0.1);
}